.card-list {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper {
  width: 250px;
  height: 400px;
  background-color: #95dada;
  border-radius: 20px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  margin: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color:purple;
}
